@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    color: white;
    font-family: "Roboto", sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: rgb(240, 145, 21);
}

.box {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    padding: 28px;
    border: 2px solid rgb(240, 145, 21);
    border-radius: 4px;
}

#email {
    border: 2px solid rgb(240, 145, 21);
    padding: 4px;
    background-color: black;
    color: white;
}

#username {
    border: 2px solid rgb(240, 145, 21);
    padding: 4px;
    background-color: black;
    color: white;
}

#password {
    border: 2px solid rgb(240, 145, 21);
    padding: 4px;
    background-color: black;
    color: white;
}

#cpassword {
    border: 2px solid rgb(240, 145, 21);
    padding: 4px;
    background-color: black;
    color: white;
}

#submit {
    background-color: black;
    color: white;
    padding: 4px;
    border: 1.5px solid rgb(240, 145, 21);
}

#p {
    font-size: 85%;
}

a {
    color: rgb(240, 145, 21);
    text-decoration: none;
}

#heading {
    font-size: xxx-large;
    color: rgb(240, 145, 21);
    align-items: center;
}

#signInButton {
    background-color: transparent;
    color: rgb(240, 145, 21);
    padding: 4px;
    border-style: none;
}

#signUpButton {
    background-color: transparent;
    color: rgb(240, 145, 21);
    padding: 4px;
    border-style: none;
}